<section class="m-4">
  <h1 class="display-3">
    <%= @orbit.name %>
    <%= link_to 'delete', admin_orbit_path(@orbit), method: :delete, class: 'btn btn-outline-danger btn-sm' if current_user.admin %>
  </h1>
  <p class="lead"><%= @orbit.quick_description %></p>

  <%= render partial: 'orbit_data_table.html.erb', locals: {orbit: @orbit} %>
</section>