<%= content_tag(:h1, "Launcher Calculator", class: "m-3 font-weight-bold display-3") %>
<h3 class="font-weight-light">
  An open source orbital launch vehicle payload calculator by
  <a href="https://launcherspace.com">Launcher</a>
</h3>