<div class="container-md text-center p-5">
  <%# Header Intro %>
  <%= render 'sessions/welcome_header' %>
  
  <%# Sign up Card %>
  <div class="mt-5 mb-4 w-50 mx-auto shadow-sm p-5 bg-white rounded-lg border border-light">

    <%# Sign up Via Github %> 
    <%= link_to 'Sign Up with GitHub', '/auth/github', class: "btn btn-primary btn-block" %>
    <p class="my-3 text-muted">OR</p>

    <%# New User Sign Up Form %>
    <%= render partial: 'signup_form', locals: {user: @user} %>
  </div>

  <%# Section Footer %>
  <%= render partial: 'sessions/onboarding_footer' %>
</div>

  