<section class="m-4">
  <h1 class="display-3">Background and Usage</h1>
  <blockquote class="blockquote">
    <p class="mb-2">This software is not designed to perform space launcher calculations because the method used is an approximation and is not accurate enough. The software also does not take into account the possibility of optimizing due to multiple burn maneuvers, which is especially effective for GTO and GEO orbits. It is only intended to assess the impact of the main rocket characteristics on the payload mass, and the resulting accuracy is about 10%. In addition it is assumed that the rocket design is conventional, meaning the body must be cylindrical with an aspect ratio of 20 to 30, the thrust-to-weight ratio of the first stage should be from 1.2 to 1.6, the mass ratio of the first to second stage should be from 1:0.05 to 1:0.25, and the fairing should jettison shortly after the second stage ignition upon reaching a predetermined velocity of 3500 m/s, which in general corresponds to a flight altitude of more than 95 km. To achieve high orbits, the upper stage engine must be capable of multiple restarts . When calculating possible orbits, it should also be taken into account that some space ports impose certain restrictions on the permissible inclinations of the orbits. This is usually due to an active trajectory leg passing over a populated area. For example, from the Canaveral spaceport, it is forbidden to to inject directly into SSO.
    </p>

    <p class="mb-2">The software allows users to compare the relative characteristics of launchers, but in contrast to common approach percentages are used here, which is easier for an amateur. The velocity losses are calculated according to the Y. Lobanovsky method described in the article: "Delta velocity prediction for injection into Low Earth Orbit."
    </p>

    <p class="mb-0">All of the rocket's characteristics are obtained from the Internet. They are averaged and may differ from the specific case of launch. Since many of the specifications of the majority of projected launchers have not been published, they are assumed by the author based on his experience to ensure the declared payload. Some of these specifications may turn out to be practically impossible, since most companies use very aggressive predictions.</p>

    <footer class="blockquote-footer">Igor Nikishchenko, <cite title="Source Title">Author and Chief Designer, Launcher</cite></footer>
</blockquote>
</section>