<section class="m-4">
  <h1 class="display-3">Missions</h1>
  <p>All your missions to the cosmos are listed here.</p>

  <div class="mt-5 mb-4">
    <h3>My Missions
      <%= link_to 'Start New Mission', '/', class: 'btn btn-outline-primary btn-sm ml-3' %>
    </h3>
  </div>

  <% current_user_missions(@missions).each do |mission| %>
    <div class="card mb-3" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= mission.name %></h5>
        <%= link_to('Edit Mission', '/', class: 'btn btn-outline-primary btn-block btn-sm') %>
        <%= link_to('View Mission Results', '/', class: 'btn btn-primary btn-block') %>
      </div>
    </div>
  <% end %>
</section>
