<section class="m-4">
  <h1 class="display-3">Missions</h1>
  <p>All your missions to the cosmos are listed here.</p>

  <div class="mt-5 mb-4">
    <h3>My Missions
      <%= link_to 'Start New Mission', new_user_mission_path(current_user), class: 'btn btn-outline-primary btn-sm ml-3' %>
    </h3>
  </div>

  <%= render partial: 'load_missions', locals: {missions: @missions} %>
  
</section>
