<section class="m-4">
  <h1 class="display-4">All Successful Missions</h1>
  <p>All successful missions from all users to date.</p>

  <%= render partial: 'load_missions', locals: {missions: @missions} %>

</section>